* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: Roboto;
}

body {
  background-color: coral;
}

#line {
  width: 100%;
  height: 3rem;
  background-color: white;
  position: fixed;
  top: calc(50vh - 1rem);
}

#week-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: calc(50vh - 1rem);
  padding-bottom: calc(50vh - 1rem);
}

#day-letter-row {
  width: 100%;

  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  height: 1rem;
}

#day-letter-row span {
  width: 3rem;
  text-align: center;
  opacity: 0.2;
}

#day-letter-row span.current {
  opacity: 1;
}

.week {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding-right: 2rem;
  position: relative;
}

.week .week-number {
  color: #ffffff;
  opacity: 0.2;
  font-size: 1rem;
  width: 1rem;
  line-height: 100%;
  text-align: right;
}

.week.current .week-number {
  opacity: 1;
}

.day-checkbox {
  appearance: none;
  background-color: transparent;
  border: white solid 0.2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  transition: background-color 300ms, transform 150ms;
  opacity: 0.5;
}

.day-checkbox.current {
  opacity: 1;
}

.day-checkbox:hover {
  background-color: #ffffff88;
  cursor: pointer;
}

.day-checkbox:active {
  transform: scale(0.95);
}

.day-checkbox:checked {
  background-color: white;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
